@font-face {
  font-family: 'MT';
  src:  url('fonts/MT.eot?jwczgr');
  src:  url('fonts/MT.eot?jwczgr#iefix') format('embedded-opentype'),
    url('fonts/MT.ttf?jwczgr') format('truetype'),
    url('fonts/MT.woff?jwczgr') format('woff'),
    url('fonts/MT.svg?jwczgr#MT') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'MT' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MT-yawn:before {
  content: "\e901";
}
.MT-wink:before {
  content: "\e902";
}
.MT-smile-face:before {
  content: "\e903";
}
.MT-smile:before {
  content: "\e904";
}
.MT-surprise:before {
  content: "\e905";
}
.MT-shocked:before {
  content: "\e906";
}
.MT-sceptic:before {
  content: "\e907";
}
.MT-sad:before {
  content: "\e908";
}
.MT-happy:before {
  content: "\e90a";
}
.MT-pain:before {
  content: "\e90b";
}
.MT-muted:before {
  content: "\e90c";
}
.MT-meh:before {
  content: "\e90d";
}
.MT-laugh:before {
  content: "\e90e";
}
.MT-ill:before {
  content: "\e90f";
}
.MT-happy-smile:before {
  content: "\e910";
}
.MT-happy-closed-eye:before {
  content: "\e911";
}
.MT-cute:before {
  content: "\e912";
}
.MT-crying:before {
  content: "\e913";
}
.MT-crazy:before {
  content: "\e914";
}
.MT-cool:before {
  content: "\e915";
}
.MT-bored:before {
  content: "\e916";
}
.MT-blush:before {
  content: "\e917";
}
.MT-angry:before {
  content: "\e918";
}
.MT-happy-extream:before {
  content: "\e919";
}
.MT-hours:before {
  content: "\e91a";
}
.MT-bars:before {
  content: "\e91b";
}
.MT-chat:before {
  content: "\e91c";
}
.MT-checked:before {
  content: "\e91d";
}
.MT-cloud-computing:before {
  content: "\e91e";
}
.MT-cloud-computing-light:before {
  content: "\e91f";
}
.MT-coins:before {
  content: "\e920";
}
.MT-coins-user:before {
  content: "\e921";
}
.MT-credit-card:before {
  content: "\e922";
}
.MT-customer-service:before {
  content: "\e923";
}
.MT-euro:before {
  content: "\e924";
}
.MT-headphones:before {
  content: "\e925";
}
.MT-logout:before {
  content: "\e926";
}
.MT-login:before {
  content: "\e927";
}
.MT-money-bag:before {
  content: "\e928";
}
.MT-settings-circle:before {
  content: "\e929";
}
.MT-settings:before {
  content: "\e92a";
}
.MT-chat-bubble:before {
  content: "\e92b";
}
.MT-wallet:before {
  content: "\e92c";
}
.MT-ad:before {
  content: "\e92d";
}
.MT-users-group:before {
  content: "\e92e";
}
.MT-ad-idea:before {
  content: "\e92f";
}
.MT-user-search:before {
  content: "\e930";
}
.MT-ad-notifi:before {
  content: "\e931";
}
.MT-user-shield:before {
  content: "\e932";
}
.MT-ad-location:before {
  content: "\e933";
}
.MT-user-settings:before {
  content: "\e934";
}
.MT-ad-spread-out:before {
  content: "\e935";
}
.MT-user-cricle:before {
  content: "\e936";
}
.MT-group-video-chat:before {
  content: "\e937";
}
.MT-user-password:before {
  content: "\e938";
}
.MT-ad-create:before {
  content: "\e939";
}
.MT-ban-user:before {
  content: "\e93a";
}
.MT-ads-phone:before {
  content: "\e93b";
}
.MT-password-lock:before {
  content: "\e93c";
}
.MT-ads-signboard:before {
  content: "\e93d";
}
.MT-password-correct:before {
  content: "\e93e";
}
.MT-ads-filter:before {
  content: "\e93f";
}
.MT-password-wrong:before {
  content: "\e940";
}
.MT-ads-3:before {
  content: "\e941";
}
.MT-padlock:before {
  content: "\e942";
}
.MT-ads-settings-success:before {
  content: "\e943";
}
.MT-group-circle:before {
  content: "\e944";
}
.MT-ads-5:before {
  content: "\e945";
}
.MT-networking:before {
  content: "\e946";
}
.MT-ads-settings:before {
  content: "\e947";
}
.MT-users-search:before {
  content: "\e948";
}
.MT-delivery:before {
  content: "\e949";
}
.MT-user-chart:before {
  content: "\e94a";
}
.MT-ads-convert:before {
  content: "\e94b";
}
.MT-profile-page:before {
  content: "\e94c";
}
.MT-ad-announce:before {
  content: "\e94d";
}
.MT-user-lock:before {
  content: "\e94e";
}
.MT-ad-sign:before {
  content: "\e94f";
}
.MT-affiliate:before {
  content: "\e951";
}
.MT-customer-support:before {
  content: "\e952";
}
.MT-ads-social:before {
  content: "\e953";
}
.MT-profile-success:before {
  content: "\e954";
}
.MT-ads-questions:before {
  content: "\e955";
}
.MT-profile-wrong:before {
  content: "\e956";
}
.MT-ads-success:before {
  content: "\e957";
}
.MT-profile-questions:before {
  content: "\e958";
}
.MT-people:before {
  content: "\e959";
}
.MT-ad-signboard:before {
  content: "\e95b";
}
.MT-profile-girl:before {
  content: "\e95c";
}
.MT-24-hours:before {
  content: "\e95d";
}
.MT-ads-ban:before {
  content: "\e95e";
}
.MT-profile-man:before {
  content: "\e95f";
}
.MT-ad-block:before {
  content: "\e960";
}
.MT-profile:before {
  content: "\e961";
}
.MT-light-bulb:before {
  content: "\e962";
}
.MT-user-location-girl:before {
  content: "\e963";
}
.MT-email:before {
  content: "\e964";
}
.MT-user-notifi:before {
  content: "\e965";
}
.MT-campaign:before {
  content: "\e966";
}
.MT-user-location:before {
  content: "\e967";
}
.MT-cancel-ad:before {
  content: "\e968";
}
.MT-user-sheild-girl:before {
  content: "\e969";
}
.MT-chat-add:before {
  content: "\e96a";
}
.MT-user-sheild:before {
  content: "\e96b";
}
.MT-choose:before {
  content: "\e96c";
}
.MT-user-star-1:before {
  content: "\e96d";
}
.MT-click-per-pay:before {
  content: "\e96e";
}
.MT-user-star-2:before {
  content: "\e96f";
}
.MT-computer:before {
  content: "\e970";
}
.MT-user-star-3:before {
  content: "\e971";
}
.MT-customer:before {
  content: "\e972";
}
.MT-user-upload:before {
  content: "\e973";
}
.MT-delete-ad:before {
  content: "\e974";
}
.MT-user-upload-girl:before {
  content: "\e975";
}
.MT-dollar:before {
  content: "\e976";
}
.MT-users-replace-girl:before {
  content: "\e977";
}
.MT-email-share:before {
  content: "\e978";
}
.MT-users-gender:before {
  content: "\e979";
}
.MT-email-success:before {
  content: "\e97a";
}
.MT-remove-user:before {
  content: "\e97b";
}
.MT-ads-filteration:before {
  content: "\e97c";
}
.MT-users-replace:before {
  content: "\e97d";
}
.MT-focus:before {
  content: "\e97e";
}
.MT-users-group-girls:before {
  content: "\e97f";
}
.MT-gift:before {
  content: "\e980";
}
.MT-user-password-girl:before {
  content: "\e981";
}
.MT-global-ad:before {
  content: "\e982";
}
.MT-user-lock-girl:before {
  content: "\e983";
}
.MT-global-phone:before {
  content: "\e984";
}
.MT-remove-user-girl:before {
  content: "\e985";
}
.MT-add-user-girl:before {
  content: "\e986";
}
.MT-global:before {
  content: "\e987";
}
.MT-user-shield-girl:before {
  content: "\e989";
}
.MT-user-settings-girl:before {
  content: "\e98b";
}
.MT-idea:before {
  content: "\e98c";
}
.MT-user-search-girl:before {
  content: "\e98d";
}
.MT-idea-add:before {
  content: "\e98e";
}
.MT-users:before {
  content: "\e98f";
}
.MT-add-user:before {
  content: "\e990";
}
.MT-idea-2:before {
  content: "\e991";
}
.MT-king:before {
  content: "\e992";
}
.MT-like-message:before {
  content: "\e993";
}
.MT-like:before {
  content: "\e994";
}
.MT-react-love:before {
  content: "\e995";
}
.MT-mail-box:before {
  content: "\e996";
}
.MT-message:before {
  content: "\e997";
}
.MT-message-tv:before {
  content: "\e998";
}
.MT-message-mobile:before {
  content: "\e999";
}
.MT-mobile-ads:before {
  content: "\e99a";
}
.MT-mobile-videos:before {
  content: "\e99b";
}
.MT-money:before {
  content: "\e99c";
}
.MT-network:before {
  content: "\e99d";
}
.MT-newspaper:before {
  content: "\e99e";
}
.MT-newspaper-phone:before {
  content: "\e99f";
}
.MT-online-shop:before {
  content: "\e9a0";
}
.MT-pamphlet:before {
  content: "\e9a1";
}
.MT-pay-per-click:before {
  content: "\e9a2";
}
.MT-phone-ad:before {
  content: "\e9a3";
}
.MT-premium:before {
  content: "\e9a4";
}
.MT-promote:before {
  content: "\e9a5";
}
.MT-promotion:before {
  content: "\e9a6";
}
.MT-public-relation:before {
  content: "\e9a7";
}
.MT-public-relation-2:before {
  content: "\e9a9";
}
.MT-radio:before {
  content: "\e9aa";
}
.MT-receive:before {
  content: "\e9ab";
}
.MT-remove-ad:before {
  content: "\e9ac";
}
.MT-shopping-bag:before {
  content: "\e9ad";
}
.MT-sale-ad:before {
  content: "\e9ae";
}
.MT-search-ad:before {
  content: "\e9af";
}
.MT-search-1:before {
  content: "\e9b0";
}
.MT-share:before {
  content: "\e9b1";
}
.MT-sale-ad-mail:before {
  content: "\e9b2";
}
.MT-strategy:before {
  content: "\e9b3";
}
.MT-stream:before {
  content: "\e9b4";
}
.MT-target:before {
  content: "\e9b5";
}
.MT-text:before {
  content: "\e9b7";
}
.MT-ad-text:before {
  content: "\e9b8";
}
.MT-tv-ad:before {
  content: "\e9b9";
}
.MT-tv:before {
  content: "\e9ba";
}
.MT-users-conversation:before {
  content: "\e9bb";
}
.MT-value:before {
  content: "\e9bc";
}
.MT-video:before {
  content: "\e9bd";
}
.MT-ad-video:before {
  content: "\e9be";
}
.MT-view:before {
  content: "\e9bf";
}
.MT-amazon:before {
  content: "\e9c0";
}
.MT-android:before {
  content: "\e9c1";
}
.MT-apple:before {
  content: "\e9c2";
}
.MT-behance:before {
  content: "\e9c4";
}
.MT-blackberry:before {
  content: "\e9c5";
}
.MT-blogger:before {
  content: "\e9c6";
}
.MT-chat-messages:before {
  content: "\e9c7";
}
.MT-check:before {
  content: "\e9c8";
}
.MT-credit-card1:before {
  content: "\e9cd";
}
.MT-deviantart:before {
  content: "\e9cf";
}
.MT-dribbble:before {
  content: "\e9d0";
}
.MT-dropbox:before {
  content: "\e9d1";
}
.MT-facebook:before {
  content: "\e9d4";
}
.MT-flickr:before {
  content: "\e9d5";
}
.MT-google-chrome:before {
  content: "\e9d6";
}
.MT-google-drive:before {
  content: "\e9d7";
}
.MT-google-play:before {
  content: "\e9d8";
}
.MT-google-plus:before {
  content: "\e9d9";
}
.MT-headphones1:before {
  content: "\e9da";
}
.MT-home:before {
  content: "\e9db";
}
.MT-instagram:before {
  content: "\e9dc";
}
.MT-internet-explorer:before {
  content: "\e9dd";
}
.MT-kickstarter:before {
  content: "\e9de";
}
.MT-linkedin:before {
  content: "\e9df";
}
.MT-opera:before {
  content: "\e9e3";
}
.MT-paypal:before {
  content: "\e9e4";
}
.MT-picasa:before {
  content: "\e9e5";
}
.MT-pinterest:before {
  content: "\e9e6";
}
.MT-reddit:before {
  content: "\e9e7";
}
.MT-cogs:before {
  content: "\e9e8";
}
.MT-cog:before {
  content: "\e9e9";
}
.MT-skype:before {
  content: "\e9ea";
}
.MT-snapchat:before {
  content: "\e9eb";
}
.MT-soundcloud:before {
  content: "\e9ec";
}
.MT-steam:before {
  content: "\e9ee";
}
.MT-stumbleupon:before {
  content: "\e9ef";
}
.MT-tumblr:before {
  content: "\e9f0";
}
.MT-twitter:before {
  content: "\e9f1";
}
.MT-viber:before {
  content: "\e9f2";
}
.MT-vimeo:before {
  content: "\e9f3";
}
.MT-vine:before {
  content: "\e9f4";
}
.MT-whatsapp:before {
  content: "\e9f6";
}
.MT-windows:before {
  content: "\e9f7";
}
.MT-wordpress:before {
  content: "\e9f8";
}
.MT-yahoo:before {
  content: "\e9f9";
}
.MT-yelp:before {
  content: "\e9fa";
}
.MT-youtube:before {
  content: "\e9fb";
}
